<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @devoir.name %>
</p>
<h2>Notes</h2>
<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Numéro</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% presents = []  %>
    <% @devoir.note_devoirs.each do |note_devoir| %>
      <% presents << note_devoir.user_id %>
	<tr>
	  <td><%= note_devoir.user.firstname %></td>
	  <td><%= note_devoir.user.lastname %></td>
	  <td><%= note_devoir.user.numero || "sans numéro"%></td>
	  <% if note_devoir.note.blank? then %>
	    <td>
	      <%= form_for note_devoir,  remote: true do |f| %>
		<%=  f.text_field :note %>
		<%= f.submit "ok" %>
	      <% end %>
	    </td>
	    <% else %>
	    <td><%=  note_devoir.note %></td>
	      <% end %>
	</tr>
      <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="4">flkfdfjk</td></tr>
  </tfoot>
</table>

<h2> Présence</h2>

<%= form_tag controller: "devoirs", action: :ajoute_presents, method: "post"  do %>
  <%= hidden_field_tag "devoir[id]", @devoir.id.to_s %>
<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Numéro</th>
      <th>Présence</th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |u| %>
      <% unless presents.include? u.id %>
      <tr>
	  <td><%= u.firstname %></td>
	  <td><%= u.lastname %></td>
	  <td><%= u.numero %></td>
	  <td>
	    <input type="checkbox" name="devoir[presents][]" value="<%= u.id %>">
	  </td>
      </tr>
	<% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="4"><%= submit_tag  %></td></tr>
  </tfoot>
</table>
<% end %>

<%= link_to 'Edit', edit_devoir_path(@devoir) %> |
<%= link_to 'Back', devoirs_path %>
