<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @devoir.name %>
</p>
<h2>Notes</h2>
<table class="table">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Numéro</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% presents = []  %>
    <% @devoir.note_devoirs.each do |note_devoir| %>
      <% presents << note_devoir.user_id %>
	<tr>
	  <td><%= note_devoir.user.firstname %></td>
	  <td><%= note_devoir.user.lastname %></td>
	  <td><%= note_devoir.user.numero || "sans numéro"%></td>
	  <% if note_devoir.note.blank? then %>
	    <td>
        <% if policy(note_devoir).edit? %>
          <%= form_for note_devoir,  remote: true do |f| %>
            <%=  f.text_field :note %>
            <%= f.submit "ok" %>
          <% end %>
        <% end %>
	    </td>
	    <% else %>
	    <td><%=  note_devoir.note %></td>
	      <% end %>
	</tr>
      <% end %>
  </tbody>
</table>

<% if policy(:note_devoir).create? || policy(:note_devoir).index? %>
  <h2> Présence</h2>

  <%= form_tag controller: "devoirs", action: :ajoute_presents, method: "post"  do %>
    <%= hidden_field_tag "devoir[id]", @devoir.id.to_s %>
  <table class="table">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Numéro</th>
        <th>Présence</th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |u| %>
        <% unless presents.include? u.id %>
        <tr>
      <td><%= u.firstname %></td>
      <td><%= u.lastname %></td>
      <td><%= u.numero %></td>
      <td>
        <% if policy(:note_devoir).create? %>
          <input type="checkbox" name="devoir[presents][]" value="<%= u.id %>">
        <% end %>
      </td>
        </tr>
    <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <% if policy(:note_devoir).create? %>
        <tr><td colspan="4"><%= submit_tag  %></td></tr>
      <% end %>
    </tfoot>
  </table>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_devoir_path(@devoir) %> |
<%= link_to 'Back', devoirs_path %>
